* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header,
main {
  background-color: #1f2937;
}

header nav,
main .container,
section.destinations,
footer .container {
  max-width: 1200px;
}

.CTA-btn {
  color: #E5E7EB;
  background-color: #3882F6;
  border-radius: 5px;
  padding: 10px 25px;
  cursor: pointer;
}

/* HEADER */
header nav {
  margin: auto;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 20px 0;
}

nav ul li a {
  color: #E5E7EB;
  font-size: 18px;
  text-decoration: none;
}

nav .logo {
  margin-right: auto;
}

nav .logo a img {
  width: 100%;
}

/* MAIN HERO SECTION */
main .container {
  margin: auto;
  padding: 80px 0;
  display: flex;
  gap: 20px;
}

main .container .wrapper {
  flex-basis: 50%;
}

main .container .wrapper img {
  width: 100%;
}

main .wrapper.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

main .content h1 {
  font-size: 48px;
  color: #f9faf8;
}

main .container p {
  color: #E5E7EB;
}

main button {
  border: none;
}

/* DESTINATIONS-SECTION */
section.destinations {
  margin: 0 auto;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

section.destinations h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
}

section.destinations .wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

section.destinations .card {
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

section.destinations .card img {
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
}

section.destinations .card p {
  font-size: 1.4rem;
  padding-top: 10px;
  text-align: center;
  font-family: cursive;
}

/* TESTIMONIALS SECTIONS */
section.testimonials {
  background-color: #E5E7EB;
  display: flex;
}

section.testimonials .container {
  margin: 0 auto;
  padding: 80px 0;
  flex-basis: 650px;
}

section.testimonials .container .comment {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  text-align: justify;
}

section.testimonials .container .comment-author {
  text-align: right;
  font-weight: bold;
  margin-top: 30px;
}

/* FOOTER */
footer {
  color: #E5E7EB;
  padding: 110px 0;
}

footer .container {
  background-color: #3882F6;
  margin: 0 auto;
  padding: 60px 100px;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

footer .container button {
  border: 2px solid #E5E7EB;
  border-radius: 5px;
}